body {
    font: 100% 宋体, 新宋体;
    background: #cececd;
    margin: 0;
    padding: 0;
    text-align: center;
}

#container {
    position: relative;
    background: #bdc8ee;
    width: 1500px;
    margin: 0 auto;
    border: 1px solid #000000;
    text-align: left;
}

#header {
    height: 100px;
    background: #f8dada;
    padding: 0 10px 0 20px;
}

#header h1 {
    margin: 0;
    padding-top: 10px;
}

#leftBar {
    position: absolute;
	top: 100px;
	left: 0;
	width: 150px;
    background: #ffffff;
    padding: 15px 10px 15px 20px;
}

#rightBar {
    position: absolute;
	top: 100px;
	right: 0;
	width: 150px;
    width: 150px;
    background: #ffffff;
    padding: 15px 10px 15px 20px;
}

#mainContent {
    margin: 0 200px;
    background: #ffffff;
    padding: 0 10px;
}

#footer {
    padding: 0 10px 0 20px;
    background: #a1a0a0;
}

#footer p {
    margin: 0;
    padding: 10px 0;
}